.controls__subtitle {
  margin: 10px 0 0;
  padding: 0;
  color: #32383F;
  font-family: 'Geologica', Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}
