.game-board__cell {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #D8DEE4;
  border-radius: 12px;
  box-sizing: border-box;
}

.game-board__cell_type_o {
  background-image: url("../../../../img/o_figure.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 15px;
}

.game-board__cell_type_x {
  background-image: url("../../../../img/x_figure.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 15px;
}
